@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #F0F9FF;
  color: #1E293B;
  margin: 0;
}